
/* General CSS style */

body {
    background-color: #253C59;
    /* #E9EBF8 */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    box-sizing: border-box;
    
}







/* Specific styles in common between the cointaners */



.headerTitle{
    font-weight: bold;
    color:#253C59;
}

@media screen and (max-width: 600px) {
    .headerTitle {
        font-size: 20px;
        
    }

}


.descriptionSection {
    padding-top:5%;
    padding-left: 5%;
    padding-right: 5%;
    color:#22092C;
    text-align: justify;
    font-size: 23px;
}

@media screen and (max-width: 600px) {
    .descriptionSection {
        font-size: 18px;
        
    }

}

.spaceBetweenCointainer{
    height: 0.2rem;
    max-width: 100%;
    background-color: #253C59;
}

.containerSection{
    padding-top: 5;
    padding-bottom: 5%;
    margin-top: 10%;
    
}

/*Container di tutto */

#containerEverything{

    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color:  #FEFFFE ;
    
}



/* WELCOME SECTION */

#containerWelcome {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 100%;
    overflow: hidden;
    text-align: center; /* Centra il testo orizzontalmente */
  }
  
  #welcomeTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #253C59;
    font-size: 5rem;
    z-index: 2;
  }

  #city{
    position: absolute;
    top:60%; /* Posizionati a 20% dall'alto */
    left: 50%;
    transform: translateX(-50%);
    color: #253C59;
    font-size: 3rem;
    z-index: 2;
}

#degrees {
    bottom: 10%; /* Posizionati un po' più in alto rispetto a city */
}

@media screen and (min-width: 601px) and (max-width: 1024px){
    #city{
        font-size: 2rem; /* Riduci la dimensione del testo per dispositivi più piccoli */
    }

}

@media screen and (max-width: 600px) {
    #city{
        font-size: 1rem; /* Riduci la dimensione del testo per dispositivi più piccoli */
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px){
    #welcomeTitle {
        font-size: 4rem; /* Riduci la dimensione del testo per dispositivi più piccoli */
    }

}
  @media screen and (max-width: 600px) {
    #welcomeTitle {
      font-size: 3rem;
    }

    
  }
  
  #containerWelcomeImage {
    width: 100%;
  }
  
  #welcomeImage {
    width: 100%;
    height: auto;
  }





/* NAVIGATION MENU */

.navigation-menu {
    max-width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
    z-index: 1000;
    
}

@media screen and (max-width: 600px) {
    .navigation-menu {
        flex-direction: column;
        align-items: center;
        height: auto;
        
    }

}


.navigation-menu a{  
    
    display: flex;
    width: 100%;
    height: auto;
    background-color: #BF8D30;
    text-decoration:none;
    color: #253C59;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    
}

@media screen and (max-width: 600px) {
    .navigation-menu a {
        font-size: 20px;
        
    }

}

.navigation-menu a:hover{
    text-decoration: underline;

}

hover:active{
    text-decoration: underline;
}



/* Containers About Me - Experience - Skills */





/* Carousel style */




.carousel-inner{
    
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    height: auto;
    border: 3px solid #253C59;
    border-radius: 5px;
    background-color: #BF8D30;
    color: #253C59;
   
}


.carousel-item p{
    font-size: 25px;
}

@media screen and (max-width: 600px) {
    .carousel-item p {
        font-size: 20px;
        
    }

}

.carousel-item li{
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    .carousel-item li{
       font-size: 15px;

        
    }

}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1); /* Inverte il colore dell'icona */
}

#carouselExample{
    padding: 5%;
    
}

.jobDescription{
    text-align: left;
    padding-left: 1% ;
    padding-bottom: 1%;

}




/* SKILL BAR */

.skillBar{
    
    list-style-type: none;
    height: auto;
    text-align: left;
    border-radius: 0 5px 5px 0;
    font-size: 18px;
    background-color: #BF8D30;
    
}

#skillBarContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 2px solid #253C59;
    max-width: 600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    gap: 0.1rem;
    background-color: #FEFFFE;
    color: #253C59;
    
        
}

@media screen and (max-width: 600px) {
    #skillBarContainer{
        max-width: 400px;
    }

    .skillBar{
     height: 20px;
     font-size: 13px;


    }
  }



/* CONTACTS SECTION */

#containerSectionContacts{
    display: grid;
    grid-template-rows: 100px auto 100px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    justify-items: center; 
    column-gap: 1px;   
    
}






.header3custom{
    color: #253C59;
    font-size: 23px;
    text-align: center;
}

@media screen and (max-width: 600px){
    .header3custom {
        font-size:18px;
        
    }
}


#contacts{
    grid-column: span 2;
}



#linkedin, #email {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 600px) {
    #linkedin, #email {
        width: 18px;
        height: 18px;
        
    }

}

/* FORM STYLES */

.containerFormContacts{
    text-align: center;
}

.itemForm {
    list-style: none;
    margin-top: 1rem;
    
}



form {

    padding-top: 1rem;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    
}

#formUnorderedList{
    padding: 0;
}



.inputForm{
    display:inline;
    width: 300px;  
    border-color: #253C59;
    border-radius: 0.5rem;
    border-style:solid;
    
}



#emailAddress, #nameSender{
 margin-left: 1rem;
}





.labelForm{
    float: left;
    color: #253C59;
    
}

@media screen and (max-width: 600px) {
    .labelForm {
        float:none;
        display: block ;
        
    }

}

textarea{
    width: 300px;
    height: 200px;
}

@media screen and (max-width: 600px) {
    #emailAddress, #nameSender {
        margin-left: 0; /* Rimuovere il margine sinistro quando la risoluzione è inferiore a 600px */
    }
    
    #emailAddress, #nameSender, #textmessage {
        width: 200px;
        font-size: 13px;
    }
    
    form {
        width: 90%; /* Ridurre la larghezza del modulo per adattarsi a schermi più piccoli */
    }
    .containerFormContacts {
        display: flex;
        justify-content: center;
    }

}

#submitButton{
    background-color:#FEFFFE ;
    color: #253C59;
    border-radius: 0.5rem;
    border-style:none;
    background-color: #BF8D30;
}

#submitButton:hover{
    background-color: #253C59;
    color: #FEFFFE ;
    border-style: none;
}


/* FOOTER STYLE */

#copyright{
    margin-top: 3rem;
    font-size: 15px;
    color: #253C59;
}

@media screen and (max-width: 600px) {
    #copyright {
        font-size:10px;
        
    }

}



