/* General CSS style */

body {
    
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h1 {
    
    font-size: 20px;
    color: #22092C;
}

h2{
    font-size: 15px;
    color: #22092C;
}

h3 {
    font-size: 15px;
    color: #3081D0;
    
}

hr {
    padding-top: 5px;
    max-width: 100%;
    background-color: #6DB9EF;
    
}

#welcomeTitle{
    color:white;
}

/* Specific styles in common between the cointaner */



.cointainerDescription {
    
    padding-left: 2.5%;
    padding-right: 2.5%;
    color:#22092C;
    text-align: justify;
}




/* Welcome Style */

#containerWelcome {
  background-color: #6DB9EF;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center; 
}

#logo {
    
    width: 20%;
}

/* Navigation Menu */

.navigation-menu {
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
    
    
}

.navigation-menu a {  
    flex:1; 
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #FFF5C2;
    text-decoration:none;
    color: #6DB9EF;
    font-size: 20px;
    justify-content: center;
    border-color: #6DB9EF;
    align-items: center;
    
}

/* Containers About Me - Experience - Skills */


.titleContainer{
    justify-content: center;
    align-items: center;
    justify-items: center;    
}


/* Table style */

#containerSlideshow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;

}

.table {
    max-width: 400px;
    height: auto;
    border: #3081D0;
    border-style: double;
    border-radius: 5px;
    background-color: #FFF5C2;

}

.jobDescription{
    text-align: left;

}

.jobDescription li
}

/* 4rd Container  - Contacts */

#containerContacts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto 100px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    justify-items: center; 
    column-gap: 1px;   
    
}

#contacts{
    grid-column: span 2;
}

#ContactsImageContainer{
    grid-column: span 2;
    display: flex;
    gap: 20px;
}

#linkedin {
    width: 50px;
    height: 50px;
}

#email {
    width: 50x;
    height: 50px;
    
}




